.keret {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 70%;
  padding: auto;
  margin: auto;
  border: 10px solid black ;
}

.keret>img{
  height: 20%;
  width: 20%;
}

footer{
  text-align: center;
  padding: auto;
  margin: auto;
  font-size: 25px;
}
